# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
build/msvs2019/.vs/
build/msvs2019/x64/
bin/Qt5Cored.dll
bin/Qt5Guid.dll
bin/Qt5Widgetsd.dll
sources/moc/
bin/PDL_log.log
bin/plugins/platforms/qwindows.dll
bin/plugins/platforms/qwindowsd.dll
bin/plugins/styles/qwindowsvistastyle.dll
bin/plugins/styles/qwindowsvistastyled.dll
sources/PDLab-make-moc.cmd
bin/PDLab.iobj
bin/PDLab.ipdb
bin/PDLab.pdb
bin/Qt5Core.dll
bin/Qt5Gui.dll
bin/Qt5Widgets.dll
bin/PDLab.ilk
